.container {
  padding: .5rem;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to top, #000000cf, rgba(0, 0, 0, 0));
}

.itemMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .3rem;
  font-size: 8px;
  font-family: Poppins;
  font-weight: bolder;
}