.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 999;
  padding: 0;
}

.menuContainer {
  display: flex;
  justify-content: space-around;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.itemMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .3rem;
  font-size: 8px;
  font-family: Poppins;
  font-weight: bolder;
}