.container {
	background: linear-gradient(to top, #1f1f1f, #272727 98%);
  color: white;
  border-radius: 5px;
}

.listContainer {
  padding: 1.5rem;
}

.listContainer li {
  font-family: Poppins;
  font-size: 13px;
}