.divPlaylistsCont {
	margin: 0;
	padding: 0;
	border-radius: 5px;
}

.titlePlaylistCont {
	margin: 0;
	padding: 0;
	width: 100%;
	color: black;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
}

.titlePlaylist {
	color: white;
	text-shadow: 0px 0px 1px black;
	font-size: 20px;
}

.itemListBtn {
	width: 100%;
	height: 50px;
	font-family: Bebas Neue;
	font-size: 12px;
	border-radius: 5px;
	color: rgb(241, 241, 241);
	transition-duration: .4s;
	z-index: 999;
	text-align: left;
}

.favIcon {
	filter: grayscale(1);
	transition-duration: .4s;

}

.favIcon:hover {
	filter: grayscale(0)
}

.itemInfo {
	display: flex;
	justify-content: space-around;
}

.itemListBtn:hover {
	background-color: #616161;
	color: aliceblue;
}

.divPlaylistsNames {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding-left: 2rem;
	gap: .5rem;
}

.ulPlaylistsNames {
	text-wrap: nowrap;
	display: flex;
	flex-direction: column;
	gap: .5rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
}

.separator {
  height: 2px;
  width: 100%;
  background: radial-gradient(var(--primary-color) 1%, transparent 80%);
  background-repeat: no-repeat;
}

.btnCreateList {
	border-radius: 5px;
	color: rgb(187, 185, 185);
	text-shadow: 0px 0px 1px black;
	background-color: #3f3f3f;
	font-weight: thin;
	border: none;
	height: 30px;
	display: flex;
	text-align: left;
	justify-content: center;
	align-items: center;
	font-family: Bebas Neue;
	font-size: 10px;
	transition-duration: .4s;
	box-shadow: 0px 0px 3px black;
	width: 100%;
}

.btnCreateList:hover {
	background-color: var(--primary-color);
	cursor: pointer;
	color: rgb(255, 255, 255);
	text-shadow: 0px 0px 1px rgb(0, 0, 0);
}

.msgNoSelected {
	width: 80%;
	margin-top: 20px;
	margin-left: 10%;
	text-align: center;
	font-size: 30px;
	color: white;
	text-shadow: 0px 0px 2px black;
}

.imgList {
	margin-top: 15px;
}

.titleList {
	width: 100%;
	height: 150px;
	margin-left: 550px;
	margin-top: 0px;
	top: 100px;
	position: relative;
	text-align: left;
}

.titleList>h1 {
	font-size: 40px;
	margin-top: -40px;
	margin-bottom: 0px;
	font-weight: thin;
}

.titleList>h2 {
	font-size: 20px;
	margin-top: -5px;
	margin-bottom: 0px;
	font-weight: thin;
}

.buttonsContainer {
	display: flex;
	gap: .5rem;
}

.titleList>h3 {
	font-size: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: thin;
}

.ulPlaylistNames {
	width: 250px;
	height: 100%;
	left: 55px;
	top: 10px;
	display: flex;
}

.itemListLi {
	z-index: 99999;
}

.btnPlaylistNames {
	border-radius: 5px;
	color: rgb(187, 185, 185);
	text-shadow: 0px 0px 1px black;
	background-color: #171717;
	font-weight: thin;
	border: none;
	width: 100%;
	height: 30px;
	display: flex;
	text-align: left;
	justify-content: flex-start;
	align-items: center;
	font-family: Bebas Neue;
	font-size: 10px;
	transition-duration: .4s;
	box-shadow: 0px 0px 3px black;
}

.btnPlaylistNames h2 {
	padding-left: .5rem;
	padding-right: .5rem;
}

.btnPlaylistNames:hover {
	background-color: var(--primary-color);
	cursor: pointer;
	color: rgb(255, 255, 255);
	text-shadow: 0px 0px 1px rgb(0, 0, 0);
}

.listBannerCont {
	width: 100vw;
	height: 100vh;
	left: -375px;
	top: 0px;
	z-index: -1;
}

.cont1 {
	width: 100%;
	height: 100%;
	z-index: 1;
}

.cont2 {
	width: 100%;
	height: 275px;
	background: linear-gradient(to bottom, #000000cf, rgba(255, 255, 255, 0));
	border-bottom: solid;
	border-width: 1px;
	display: flex;
	flex-direction: row;
}

.contImg {
	position: absolute;
	width: 150px;
	height: 150px;
	background: linear-gradient(to bottom, #000000cf, rgba(255, 255, 255, 0));
	margin-left: 380px;
	margin-top: 100px;
}

.cont3 {
	position: relative;
	width: 970px;
	height: 250px;
	margin-left: 380px;
	top: 275px;
	overflow-y: auto;
}
