.itemListBtn {
	width: 100%;
	height: 50px;
	background-color: transparent;
	margin-top: 1px;
	font-family: Bebas Neue;
	font-size: 15px;
	border-radius: 5px;
	border-width: 1px;
	border-bottom-width: .5px;
	border-top-width: .5px;
	color: rgb(241, 241, 241);
	transition-duration: .4s;
	text-align: left;
}

.itemInfo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 2rem;
	padding-right: 2rem;
}

.itemInfo li:hover {
	cursor: pointer;
}

.itemData {
	gap: 1rem;
	display: flex;
	align-items: center;
}

.contentArtist {
	color: #a7a7a7;
	font-size: 10px;
	font-family: Poppins;
}

.userButtons {
	display: flex;
	gap: 1rem;
}